.intro 
  p Click a planet, any planet ♫
.sun
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon
  .planet
    -for (var i = 0; i < 12; ++i)
      .moon